@charset "UTF-8";
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: orange;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}
.white-block-left {
  /*bo & =".white-block*/
  bottom: 0;
  left: -50px;
  transform: skew(45deg); /*pochylenie w lewo*/
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

.btn-special-animation {
  position: relative; /*ze względu na position absolute w ::before*/
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block; /*z natury to element liniowy*/
  content: ""; /*nie zapominaj o tym*/
  position: absolute; /*dla tej pseudoklasy rodzicem jest .btn-special-animation*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0); /*czyli element nie będzie widoczny*/
  transform-origin: top;
  transition: transform 0.3s;
  z-index: -1; /*żeby nie przesłaniał napisu*/
}
.btn-special-animation:hover::before {
  /* jak najedziesz na .btn-special-animation, który kryje się pod znakiem "&", to będzie reakcja na ::before*/
  transform: scaleY(1); /*czyli elment się pojawi*/
  transform-origin: bottom;
}

.dreams__section-heading, .islands__section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #1755e7;
  letter-spacing: 2px;
}

.section-padding {
  padding: 6em 2em;
}

@media (min-width: 768px) {
  .dreams__section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
@media (min-width: 992px) {
  .dreams__section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Dancing Script", cursive;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: #2e2e2e;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 7%;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 190;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::before, .burger-btn__bars::after {
  position: absolute;
  right: 0;
  height: 3px;
  background-color: #fff;
  content: "";
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  background-color: red;
  z-index: 22;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 4.8rem;
  color: #fff;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  transform: scale(0);
  width: 3px;
  height: 100%;
  background-color: #fff;
  transition: transform 0.3s;
  transform-origin: top;
}
.nav__item:hover::before {
  transform: scaleY(1);
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 1.8s backwards;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/small_palms.jpg"); /*bez cudzysłowiu, https://developer.mozilla.org/en-US/docs/Web/CSS/background-image?retiredLocale=pl*/ /*po url nie może być spacji*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  /*pokazujemy co to za zmienna, używamy cudzysłowia*/
  background-attachment: scroll;
}
.header__heading {
  font-family: "Dancing Script", cursive;
  font-size: 4.8rem;
  font-weight: 300;
}
.header__text {
  font-size: 1.4rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  color: #2e2e2e;
  text-decoration: none; /*znika podkreślenie*/
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.header__btn::before {
  background-color: #eee;
}

.dreams__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.dreams__img {
  width: 100%;
  margin-bottom: 1em;
}
.dreams__title {
  margin-bottom: 1em;
}
.dreams__text {
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  background-color: burlywood;
  padding: 10em 2em;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/polynesia_small.jpg"); /*bez cudzysłowiu, https://developer.mozilla.org/en-US/docs/Web/CSS/background-image?retiredLocale=pl*/ /*po url nie może być spacji*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.hero-img__title {
  margin-bottom: 0.5em;
  font-family: "Dancing Script", cursive;
  font-size: 4.8rem;
}
.hero-img__text {
  padding: 1em 0;
}

@media (min-width: 576px) {
  .dreams__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .dreams__box-text {
    width: 55%;
    border: 3px salmon solid;
  }
  .dreams__box-text--right {
    /*uwaga na teaki zapis bo w CSS to nie jest dziecko*/
    text-align: right;
    background-color: green;
  }
  .dreams__box-img {
    width: 40%;
    border: 3px rgb(85, 140, 179) dotted;
  }
  .dreams__box-img--right {
    order: 1;
  }
  .dreams__img {
    margin-bottom: 0;
    max-height: 300px;
    border: 4px white solid;
  }
}
@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .dreams {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 30em 2em;
  }
  .hero-img__text {
    font-size: 2.2rem;
  }
  .hero-img hr {
    margin: 0 auto; /*żeby wyśrodkować*/
    width: 70%;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    right: 9%;
    top: 5%;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/polynesia_big.jpg"); /*bez cudzysłowiu, https://developer.mozilla.org/en-US/docs/Web/CSS/background-image?retiredLocale=pl*/ /*po url nie może być spacji*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
  }
  .header__heading {
    font-size: 10rem;
  }
  .dreams__box {
    margin: 5em;
  }
  .dreams__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .dreams__title {
    font-size: 3.6rem;
  }
  .dreams__text {
    font-size: 2.2rem;
  }
  .hero-img {
    padding: 40em 2em;
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/polynesia_big.jpg");
  }
  .hero-img__title {
    font-size: 7.2rem;
  }
  .hero-img hr {
    width: 60%;
    max-width: 900px;
  }
}/*# sourceMappingURL=main.css.map */