.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	background-color: orange;
}
.white-block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: $pure-white;

	&-left {
		/*bo & =".white-block*/
		bottom: 0;
		left: -50px;
		transform: skew(45deg); /*pochylenie w lewo*/
	}
	&-right {
		top: 0;
		right: -50px;
		transform: skew(45deg);
	}
}
.btn-special-animation {
	position: relative; /*ze względu na position absolute w ::before*/
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;
	&::before {
		display: block; /*z natury to element liniowy*/
		content: ''; /*nie zapominaj o tym*/
		position: absolute; /*dla tej pseudoklasy rodzicem jest .btn-special-animation*/
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scaleX(0); /*czyli element nie będzie widoczny*/
		transform-origin: right;
		transition: transform 0.3s;
		z-index: -1; /*żeby nie przesłaniał napisu*/
	}
	&:hover::before {
		/* jak najedziesz na .btn-special-animation, który kryje się pod znakiem "&", to będzie reakcja na ::before*/
		transform: scaleX(1); /*czyli elment się pojawi*/
		transform-origin: left;
	}
}
.dreams__section-heading,
.islands__section-heading, .offers__section-heading {
	position: relative;
	margin-bottom: 2em;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: $main-color;
	letter-spacing: 2px;
}
.section-padding {
	padding: 6em 2em;
}
@media (min-width: 768px) {
	.dreams__section-heading {
		font-size: 3.6rem;
	}
	.section-padding {
		padding: 8em 2em;
	}
}
@media (min-width: 992px) {
	.dreams__section-heading {
		font-size: 4.8rem;
	}
	.section-padding {
		padding: 10em 2em;
	}
}
