@media (min-width: 768px) {
	.main {
		.cards {
			&__box {
				padding: 10em 2em;
			}
			&__card--one {
				grid-column: 1/4;
				grid-row: 1/2;
				background-color: green;
			}
			&__card--two {
				grid-column: 4/7;
				grid-row: 1/2;
				background-color: rgb(128, 85, 0);
			}
			&__card--three {
				grid-column: 7/10;
				grid-row: 1/2;
				background-color: rgb(47, 0, 128);
			}
		}
	}
}
