@media (min-width: 768px) {
	.main {
		.cards {
			&__box {
				padding: 10em 2em;
			}
			&__card--one {
				grid-column: 1/4;
				grid-row: 1/2;
				background-color: green;
			}
			&__card--two {
				grid-column: 4/7;
				grid-row: 1/2;
				background-color: rgb(128, 85, 0);
			}
			&__card--three {
				grid-column: 7/10;
				grid-row: 1/2;
				background-color: rgb(47, 0, 128);
			}
		}
		.plans {
			padding: 8em 2em;
			&__box {
				display: grid;
				grid-template-columns: repeat(
					5,
					1fr
				); /*podział na 5 kolumn wynika z faktu, że &__box ma 5 dzieci, a celem jest, by każde dziecko pojawiło się obok siebie*/
				gap: 2em;
				align-items: center;
			}
			&__item {
				margin: 0 1em;
				// background-color: red;
				z-index: 2;
			}
			&__item-name {
				margin-top: 0;
				margin-bottom: 0;
				// background-color: blue;
			}
		}
	}
}
