@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	background-color: red;
	content: '';
	transition: width 0.3s;
}
@mixin heroImages($bgImg) {
	background-image: $blue-gradient, url($bgImg); /*bez cudzysłowiu, https://developer.mozilla.org/en-US/docs/Web/CSS/background-image?retiredLocale=pl*/ /*po url nie może być spacji*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
