@use './colors' as c;
@use './components' as co;
@use './mixins' as m;
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Dancing Script', cursive;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	color: #fff;
	background: #4c4949;
	font-size: 1.6rem;
}
// navigation
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: greenyellow;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 190;
	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&__box {
	}
}
