@import './mixins';
@import './colors';
@import './components';
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	font-family: 'Dancing Script', cursive;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	color: #fff;
	background: $dark;
	font-size: 1.6rem;
}
// navigation
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: greenyellow;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 190;
	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::before,
	&__bars::after {
		@include burgerBtn;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}
// header
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: $pure-white;
	@include heroImages(
		'../img/small_palms.jpg'
	); /*pokazujemy co to za zmienna, używamy cudzysłowia*/
}
.abc {
	width: 150px;
	height: 160px;
	@include abc('../img/paradise_island.jpg');
}
