* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	color: #fff;
	background: #333333;
}
form {
	width: 400px;
	height: 450px;
	border: 2px solid rgb(7, 190, 240);
	border-radius: 8px;
}
